/* Whole document: */

body{
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 14pt;
  color: #00521f;
  background-color: #f0f0f5;
 /* background-image: url("background-hex.jpg"); */
}


/* Headers */

h1.title {color: #ffa6bf;
  font-size: 24pt;
  background-color: #182F80;
  opacity: 1.0; /* completely opaque */
  padding-top: 1em;
  padding-bottom: .2em;
  padding-right: .2em;
  text-align: right;
  border-right: 15px solid #1c6100 /* adds a little green stripe on the left border */
  
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 15px;
}


h1 {
  font-size: 18pt;
  color: 	 #7a525c;
  background-color: #182F80;
  padding-left: .5em;
  padding-top: .25em;
  
}


h2 { 
  font-size: 16pt;
  color:  #e0c2a3;  
	padding-top:.5em;
	opacity: 1.0; 
}

h3 { 
  font-size: 16pt;
   color: #7a525c;
}


/* Code Chunks */
pre {
  max-height: 350px;
  background-color: #E4ECE7;
  overflow-y: auto;
}

pre[class] {
  max-height: 250px;
}


/* LINKS */

/* unvisited link */
a:link {
  color: #485192;
  text-decoration: none;
}


/* visited link */
a:visited {
  color: #4B0082;
  text-decoration: none;
}

/* mouse over link */
a:hover { 
  color: #3C405D;
  background-color: #E9D2EE;
  text-decoration: none;
}

/* TOC */

div #TOC {float:left;
width:25%;
font-size: 12pt;
border: 2px solid #1c6100;
border-radius: 10px;
background: #e0c2a3;
padding: .5em;
overflow:auto;
/*  box-shadow: 4px 4px 5px #888; */
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.list-group-item.active:hover {
    z-index: 1;
    color: red;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}

.list-group-item.active:hover {
    z-index: 2;
    color: red;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}


.list-group-item.active {
    z-index: 1;
    color: red;
    text-decoration: none;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
}

.list-group-item.active {
    z-index: 2;
    color: red;
    text-decoration: none;
    background-color: #E4ECE7;
    border-color: #E4ECE7;
    }

